<a href="https://colab.research.google.com/github/YoPogramer/Problem2-Demo/blob/master/Problem2_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/ChanR-Analytics/Week2.git

Cloning into 'Week2'...
remote: Enumerating objects: 188, done.
remote: Total 188 (delta 0), reused 0 (delta 0), pack-reused 188
Receiving objects: 100% (188/188), 49.81 KiB | 836.00 KiB/s, done.
Resolving deltas: 100% (78/78), done.

In [2]:
ls

sample_data/  Week2/

In [3]:
cd Week2

/content/Week2

In [4]:
ls

celsius.txt     Fairness_AI_Week2/  PDS_CI_Week2/
DataFit_Week2/  Games_RL_Week2/     README.md

In [5]:
cat celsius.txt

28.48
1.5
29.85
29.52
-9.68
-0.06
-14.13
1.6
18.01
4.63
16.61
-10.38
-1.6
-7.65
5.68
18.31
34.87
2.48
22.95
-15.4
-7.56
4.79
-3.1
-19.23
33.04
2.26
29.71
-9.17
-5.75
5.77
-6.2
4.19
-19.73
15.86
6.26
-14.77
26.44
8.05
6.25
32.51
7.95
16.72
20.65
-15.94
-19.98
-2.48
14.44
6.03
27.36
31.41
9.71
31.81
16.37
3.47
19.47
5.15
24.03
9.81
7.06
14.32
34.55
-9.76
34.97
22.24
-18.86
13.48
-18.5
-14.74
12.51
9.72
-19.36
-15.28
-1.32
7.28
14.88
7.53
-12.77
34.97
15.04
21.73
23.2
0.87
3.3
10.33
-4.44
-2.28
21.48
-5.31
15.98
26.74
19.21
-8.8
-14.46
-15.48
31.72
8.72
22.17
-4.36
-11.5
-16.57
7.26
26.27
-8.07
12.54
-15.07
8.09
23.91
-11.29
33.08
5.08
-2.71
30.25
1.8
26.72
-3.57
28.91
12.95
22.85
-12.07
6.89
34.31
-12.92
-7.06
9.77
18.99
9.33
6.34
-2.8
0.55
15.57
-8.57
0.11
1.72
26.76
32.31
20.38
28.59
26.24
-12.92
-2.8
-18.6
-11.11
-5.99
16.18
17.38
13.71
34.89
-14.41
-2.71
10.47
28.48
28.48

In [0]:
cfiles = open('celsius.txt','r')

In [7]:
cfiles

In [0]:
rclines = []
for line in cfiles.readlines():
  rclines.append(line)

In [14]:
print(rclines)

['28.48\n', '1.5\n', '29.85\n', '29.52\n', '-9.68\n', '-0.06\n', '-14.13\n', '1.6\n', '18.01\n', '4.63\n', '16.61\n', '-10.38\n', '-1.6\n', '-7.65\n', '5.68\n', '18.31\n', '34.87\n', '2.48\n', '22.95\n', '-15.4\n', '-7.56\n', '4.79\n', '-3.1\n', '-19.23\n', '33.04\n', '2.26\n', '29.71\n', '-9.17\n', '-5.75\n', '5.77\n', '-6.2\n', '4.19\n', '-19.73\n', '15.86\n', '6.26\n', '-14.77\n', '26.44\n', '8.05\n', '6.25\n', '32.51\n', '7.95\n', '16.72\n', '20.65\n', '-15.94\n', '-19.98\n', '-2.48\n', '14.44\n', '6.03\n', '27.36\n', '31.41\n', '9.71\n', '31.81\n', '16.37\n', '3.47\n', '19.47\n', '5.15\n', '24.03\n', '9.81\n', '7.06\n', '14.32\n', '34.55\n', '-9.76\n', '34.97\n', '22.24\n', '-18.86\n', '13.48\n', '-18.5\n', '-14.74\n', '12.51\n', '9.72\n', '-19.36\n', '-15.28\n', '-1.32\n', '7.28\n', '14.88\n', '7.53\n', '-12.77\n', '34.97\n', '15.04\n', '21.73\n', '23.2\n', '0.87\n', '3.3\n', '10.33\n', '-4.44\n', '-2.28\n', '21.48\n', '-5.31\n', '15.98\n', '26.74\n', '19.21\n', '-8.8\n', '-14.46\n', '-15.48\n', '31.72\n', '8.72\n', '22.17\n', '-4.36\n', '-11.5\n', '-16.57\n', '7.26\n', '26.27\n', '-8.07\n', '12.54\n', '-15.07\n', '8.09\n', '23.91\n', '-11.29\n', '33.08\n', '5.08\n', '-2.71\n', '30.25\n', '1.8\n', '26.72\n', '-3.57\n', '28.91\n', '12.95\n', '22.85\n', '-12.07\n', '6.89\n', '34.31\n', '-12.92\n', '-7.06\n', '9.77\n', '18.99\n', '9.33\n', '6.34\n', '-2.8\n', '0.55\n', '15.57\n', '-8.57\n', '0.11\n', '1.72\n', '26.76\n', '32.31\n', '20.38\n', '28.59\n', '26.24\n', '-12.92\n', '-2.8\n', '-18.6\n', '-11.11\n', '-5.99\n', '16.18\n', '17.38\n', '13.71\n', '34.89\n', '-14.41\n', '-2.71\n', '10.47\n', '28.48\n', '28.48\n']

In [0]:
fT = []
for lines in rclines:
  r =lines.replace('\n', '')
  fT.append(float(r))

In [20]:
print(fT)

[28.48, 1.5, 29.85, 29.52, -9.68, -0.06, -14.13, 1.6, 18.01, 4.63, 16.61, -10.38, -1.6, -7.65, 5.68, 18.31, 34.87, 2.48, 22.95, -15.4, -7.56, 4.79, -3.1, -19.23, 33.04, 2.26, 29.71, -9.17, -5.75, 5.77, -6.2, 4.19, -19.73, 15.86, 6.26, -14.77, 26.44, 8.05, 6.25, 32.51, 7.95, 16.72, 20.65, -15.94, -19.98, -2.48, 14.44, 6.03, 27.36, 31.41, 9.71, 31.81, 16.37, 3.47, 19.47, 5.15, 24.03, 9.81, 7.06, 14.32, 34.55, -9.76, 34.97, 22.24, -18.86, 13.48, -18.5, -14.74, 12.51, 9.72, -19.36, -15.28, -1.32, 7.28, 14.88, 7.53, -12.77, 34.97, 15.04, 21.73, 23.2, 0.87, 3.3, 10.33, -4.44, -2.28, 21.48, -5.31, 15.98, 26.74, 19.21, -8.8, -14.46, -15.48, 31.72, 8.72, 22.17, -4.36, -11.5, -16.57, 7.26, 26.27, -8.07, 12.54, -15.07, 8.09, 23.91, -11.29, 33.08, 5.08, -2.71, 30.25, 1.8, 26.72, -3.57, 28.91, 12.95, 22.85, -12.07, 6.89, 34.31, -12.92, -7.06, 9.77, 18.99, 9.33, 6.34, -2.8, 0.55, 15.57, -8.57, 0.11, 1.72, 26.76, 32.31, 20.38, 28.59, 26.24, -12.92, -2.8, -18.6, -11.11, -5.99, 16.18, 17.38, 13.71, 34.89, -14.41, -2.71, 10.47, 28.48, 28.48]

In [0]:
cdict = {'celsius':fT}

In [0]:
import pandas as pd

In [23]:
x = pd.DataFrame.from_dict(cdict)
x.head(100)

    celsius
0     28.48
1      1.50
2     29.85
3     29.52
4     -9.68
5     -0.06
6    -14.13
7      1.60
8     18.01
9      4.63
10    16.61
11   -10.38
12    -1.60
13    -7.65
14     5.68
15    18.31
16    34.87
17     2.48
18    22.95
19   -15.40
20    -7.56
21     4.79
22    -3.10
23   -19.23
24    33.04
25     2.26
26    29.71
27    -9.17
28    -5.75
29     5.77
..      ...
70   -19.36
71   -15.28
72    -1.32
73     7.28
74    14.88
75     7.53
76   -12.77
77    34.97
78    15.04
79    21.73
80    23.20
81     0.87
82     3.30
83    10.33
84    -4.44
85    -2.28
86    21.48
87    -5.31
88    15.98
89    26.74
90    19.21
91    -8.80
92   -14.46
93   -15.48
94    31.72
95     8.72
96    22.17
97    -4.36
98   -11.50
99   -16.57

[100 rows x 1 columns]

In [25]:
tempfar = 1.8*x['celsius'] + 32
tempfar = round(tempfar,2)
print(tempfar)

0      83.26
1      34.70
2      85.73
3      85.14
4      14.58
5      31.89
6       6.57
7      34.88
8      64.42
9      40.33
10     61.90
11     13.32
12     29.12
13     18.23
14     42.22
15     64.96
16     94.77
17     36.46
18     73.31
19      4.28
20     18.39
21     40.62
22     26.42
23     -2.61
24     91.47
25     36.07
26     85.48
27     15.49
28     21.65
29     42.39
       ...
122    19.29
123    49.59
124    66.18
125    48.79
126    43.41
127    26.96
128    32.99
129    60.03
130    16.57
131    32.20
132    35.10
133    80.17
134    90.16
135    68.68
136    83.46
137    79.23
138     8.74
139    26.96
140    -1.48
141    12.00
142    21.22
143    61.12
144    63.28
145    56.68
146    94.80
147     6.06
148    27.12
149    50.85
150    83.26
151    83.26
Name: celsius, Length: 152, dtype: float64

In [0]:
x['fahrenheit'] = tempfar

In [27]:
x.head()

   celsius  fahrenheit
0    28.48       83.26
1     1.50       34.70
2    29.85       85.73
3    29.52       85.14
4    -9.68       14.58

In [28]:
cd ..

/content

In [29]:
ls

sample_data/  Week2/

In [0]:
!rm -rf Week2

In [31]:
ls

sample_data/